<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ridhaaf.prm_hmtif_unpas">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <meta-data
            android:name="com.onesignal.NotificationServiceExtension"
            android:value="com.onesignal.ridhaaf.NotificationServiceExtension"
        />
    </application>
</manifest>
